{% extends 'layout.html' %}

{% block content %}

{% include 'navbar.html' %}

        <!-- About-->
        <section class="content-section bg-light" id="about">
            <div class="container px-4 px-lg-5 text-center">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-lg-10">
                        <h2>I am a Python Developer. Focused on Web Development and Data Analysis. </h2>
                        <p class="lead mb-3">
                            Experienced in HTML, CSS, JavaScript, Bootstrap, Flask, SQL, Pandas, Selenium, Beautiful Soup...
                                always learning something new to expand my knowledge...
                            </p>
                         <p class="lead mb-3">
                            I love music, nature, dogs and people. Creativity is what drives me to be the best human I can :)
                            </p>
                    </div>
                </div>
            </div>
        </section>
<!-- Portfolio-->
<section class="content-section" id="portfolio">
    <div class="container px-4 px-lg-5">
        <div class="content-section-heading text-center">
            <h2 class="mb-5">Some of my Awesome Projects</h2>
        </div>
        <div class="row gx-0">
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://to-do-list16.herokuapp.com">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">To_Do_List</div>
                            <p class="mb-0">Simple web app to make your life easier.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://source.unsplash.com/random/?data"
                        style="width:400px;height:300px;" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://tindog-bootstrap.herokuapp.com">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Tin Dog</div>
                            <p class="mb-0">Tinder for Dogs</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://source.unsplash.com/random/?web"
                        style="width:400px;height:300px;" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://vermillion-cendol-dd71a4.netlify.app/templates/">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Weather App</div>
                            <p class="mb-0">Amazing weather app using APIs</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://source.unsplash.com/random/?bots"
                        style="width:400px;height:300px;" alt="..." />
                </a>
            </div>
            <div class="col-lg-6">
                <a class="portfolio-item" href="https://majalu.github.io/DATA_PORTFOLIO/">
                    <div class="caption">
                        <div class="caption-content">
                            <div class="h2">Data Analysis Projects</div>
                            <p class="mb-0">Projects created during 100 Days of Python course.</p>
                        </div>
                    </div>
                    <img class="img-fluid" src="https://source.unsplash.com/random/?analysis" style="width:400px;height:300px;"
                        alt="..." />
                </a>
            </div>
        </div>
    </div>
</section> 

{% endblock content%}
