{% extends 'layout.html' %}

{% block content %}



<div class="container mt-5" style="margin:auto; width: 50%; padding: 10px;">
  <h1>Contact Me</h1>
  <form class="row g-3" action="https://formsubmit.co/21961a656339c3cf6b28f9d3d31593c1" method="POST" enctype="multipart/form-data" >
    <div class="col-md-6">
      <input type="text" class="form-control" id="firstName" name="firstName" placeholder="First Name" required>
    </div>
    <div class="col-md-6">
      <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Last Name" required>
    </div>
    <div class="col-md-12">
      <input type="email" class="form-control" id="email" name="email" placeholder="Email" required>
    </div>
    <div class="col-md-12">
      <textarea class="form-control" name="text" id="text" cols="10" rows="5"></textarea>
    </div>
    <div class="col-md-12">   
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>

  </form>

</div>







{% endblock content%}